body {
  background-color: black;
  padding: 10px;
  font-family: $font-main;
}

.favorite {
  border: 2px solid aqua;
  color: aqua;
}

.favCard {
  display: flex;
  
  align-items: center;
  gap: 30px;
}