.favorite-section {
    border: 1px solid pink;
    width: 30%;
    border-radius: 5px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    

    & h2 {
        background-color: pink;
        width: 100%;
        text-align: center;
        padding: 3px;    
    }

    &-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


}

.favorite-btn {
    background-color: pink;
    color: black;
    font-family: $font-main;
    padding: 5px;
    margin: 10px;
    width: 80px;
    border-radius: 5px;
    border: none;
    align-self: flex-end;
}

.favCard {
    
    display: flex; 
    align-items: center;
    gap: 30px;
    margin: 5px 8px;
    //width: 95%;
    display: flex;
    justify-content: start;
    text-align: start;
    & img {
        width: 60px;
    }

    & h3 {
        color: pink;
        font-weight: 400;
        font-size: 14px;
        
    }

    &-delete {
        background-color: pink;
        font-family: $font-main;
        font-weight: 900;
        border: none;
        padding: 5px;
        border-radius: 50%;
        margin: 8px;
    }
}